<h1>Shelters Index</h1>

<table class="table">
	<th>Shelter</th>
	<th>Location</th>
	<% @shelters.each do |shelter| %>
		<tr>
			<td>
				<%= link_to shelter.name, shelter.id %>
			</td>
			<td>
				<%= shelter.city %>
			</td>
		</tr>
	<% end %>
</table>